# Nama : Dimas Arya Nugraha

# Nim : 2109106019

# Kelas : Informatika A'21

# Posttest 4 Kecerdasan Buatan

# #

## LIBRARY ##

In [111]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Import CSV ##

In [112]:
df = pd.read_csv("PoliceViolenceUS2013-2021.csv")

In [113]:
df.shape

(9295, 38)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9295 entries, 0 to 9294
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Victim Name                     9295 non-null   object
 1   Victim Age                      8932 non-null   float64
 2   Victim Gender                   9295 non-null   object
 3   Victim Race                     9295 non-null   object
 4   Victim Image URL                4911 non-null   object
 5   Date                            9295 non-null   object
 6   Street Address of Incident      9160 non-null   object
 7   City                            9280 non-null   object
 8   State                           9295 non-null   object
 9   Zipcode                         9229 non-null   object
 10  County                          9273 non-null   object
 11  Agency                          9291 non-null   object
 12  ORI Agency ID                   9289 non-null   object
 13  Cause of Death                  9295 non-null   object
 14  Circumstances                   9281 non-null   object
 15  Official Disposition            9295 non-null   object
 16  Criminal Charges                9295 non-null   object
 17  Document Link                   9295 non-null   object
 18  Mental Illness                  9295 non-null   object
 19  Armed                           9295 non-null   object
 20  Alleged Weapon                  9295 non-null   object
 21  Alleged Threat Level            9295 non-null   object
 22  Fleeing                         9295 non-null   object
 23  Body Camera                     9295 non-null   object
 24  WaPo ID                         6177 non-null   float64
 25  Off-Duty Killing                9295 non-null   object
 26  Geography                       9295 non-null   object
 27  MPV ID                          9295 non-null   int64
 28  Fatal Encounters ID             9081 non-null   float64
 29  Encounter Type                  9295 non-null   object
 30  Reason for Encounter            9295 non-null   object
 31  Officer Name                    1411 non-null   object
 32  Officer Race                    9295 non-null   object
 33  Past Shootings by Officer       9295 non-null   object
 34  Call for Service                9295 non-null   object
 35  Encounter Type (details)        512 non-null    object
 36  Reason for Encounter (details)  2223 non-null   object
 37  Number of Officers Involved     1411 non-null   float64
dtypes: float64(4), int64(1), object(33)
memory usage: 2.7+ MB

# #

# Membagi dataset menjadi training set dan testing set #

In [115]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [116]:
print("X-train : ", X_train.shape)
print("Y-train : ", y_train.shape)
print("x-train : ", X_test.shape)
print("y-train : ", y_test.shape)

X-train :  (7436, 37)
Y-train :  (7436,)
x-train :  (1859, 37)
y-train :  (1859,)

## ##

# Data cleaning pada data dengan nilai null #

### Sebelum Data Cleaning membersihkan NULL pada atribut "Victim Age", "Zipcode" dan "Fatal Encounters ID" ###

In [117]:
df.isna().sum()

Victim Name                          0
Victim Age                         363
Victim Gender                        0
Victim Race                          0
Victim Image URL                  4384
Date                                 0
Street Address of Incident         135
City                                15
State                                0
Zipcode                             66
County                              22
Agency                               4
ORI Agency ID                        6
Cause of Death                       0
Circumstances                       14
Official Disposition                 0
Criminal Charges                     0
Document Link                        0
Mental Illness                       0
Armed                                0
Alleged Weapon                       0
Alleged Threat Level                 0
Fleeing                              0
Body Camera                          0
WaPo ID                           3118
Off-Duty Killing                     0
Geography                            0
MPV ID                               0
Fatal Encounters ID                214
Encounter Type                       0
Reason for Encounter                 0
Officer Name                      7884
Officer Race                         0
Past Shootings by Officer            0
Call for Service                     0
Encounter Type (details)          8783
Reason for Encounter (details)    7072
Number of Officers Involved       7884
dtype: int64

In [118]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')

In [119]:
df["Victim Age"] = imputer.fit_transform(df[["Victim Age"]])

In [120]:
df["Fatal Encounters ID"] = imputer.fit_transform(df[["Fatal Encounters ID"]])

### Setelah Data Cleaning Atribut yg mempunyai record bernilai NULL telah bersih pada atribut "Victim Age", "Zipcode" dan "Fatal Encounters ID" ###

In [121]:
df.isna().sum()

Victim Name                          0
Victim Age                           0
Victim Gender                        0
Victim Race                          0
Victim Image URL                  4384
Date                                 0
Street Address of Incident         135
City                                15
State                                0
Zipcode                             66
County                              22
Agency                               4
ORI Agency ID                        6
Cause of Death                       0
Circumstances                       14
Official Disposition                 0
Criminal Charges                     0
Document Link                        0
Mental Illness                       0
Armed                                0
Alleged Weapon                       0
Alleged Threat Level                 0
Fleeing                              0
Body Camera                          0
WaPo ID                           3118
Off-Duty Killing                     0
Geography                            0
MPV ID                               0
Fatal Encounters ID                  0
Encounter Type                       0
Reason for Encounter                 0
Officer Name                      7884
Officer Race                         0
Past Shootings by Officer            0
Call for Service                     0
Encounter Type (details)          8783
Reason for Encounter (details)    7072
Number of Officers Involved       7884
dtype: int64

# #

# Data cleaning pada data dengan nilai duplikat #

In [122]:
df[df.duplicated()]

,Victim Name,Victim Age,Victim Gender,Victim Race,Victim Image URL,Date,Street Address of Incident,City,State,Zipcode,...,Fatal Encounters ID,Encounter Type,Reason for Encounter,Officer Name,Officer Race,Past Shootings by Officer,Call for Service,Encounter Type (details),Reason for Encounter (details),Number of Officers Involved
13,Name withheld by police,36.811464,Male,Unknown,Texarkana Police Department,6/25/2021,2635 N. 7th St.,Fife,Texarkana Police Department,Texarkana Police Department,...,20708.109019,Other Non-Violent Offense,Stolen Vehicle,NaN,Unknown,Nan,Yes,NaN,NaN,NaN

# #

# normalisasi data pada salah satu attribute menggunakan Min Max scaler #

## Copy Dataset ##

In [123]:
df2 = df.copy()

## Proses Normalisasi Atribut ##

In [125]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
X_df2 = min_max_scaler.fit_transform(
    df[['Victim Age', 'Number of Officers Involved']]
)

data_normalization = pd.DataFrame(X_df2)
data_normalization.head()

          0         1
0  0.264151  0.142857
1  0.471698       NaN
2  0.537736       NaN
3  0.292453       NaN
4  0.337844       NaN

# #

# standarisasi pada dataset #

## Copy Dataset ##

In [ ]:
df2 = df.copy()

## Proses Normalisasi Atribut ##

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

X_df2 = ss.fit_transform(
    df[['Victim Age', 'Zipcode', 'Number of Officers Involved']]
)

data_standarization = pd.DataFrame(X_df2)
data_standarization.head()

# #

# Mengganti salah satu Atribut bertipe data angka #

### Sebelum mengganti Atribut "Victim Age" dari tipe data Float menjadi tipe data integer ###

In [ ]:
df.dtypes

In [ ]:
df["Victim Age"] = df["Victim Age"].astype("int")

### Setelah Atribut "Victim Age" Diganti tipe datanya menjadi Integer ###

In [ ]:
df.dtypes

# #

# Melakukan One Hot Encoding pada Dataset #

## Disini saya memakai attribut yang bertipe data categorical yaitu "Victim Gender " ##

In [ ]:
from sklearn.preprocessing import OneHotEncoder

onehotencoder = OneHotEncoder(sparse=False)
VG_encoded2 = onehotencoder.fit_transform(df[["Victim Gender"]])

df2 = pd.DataFrame(VG_encoded2)
df = df.join(df2)

In [127]:
df.head()

,Victim Name,Victim Age,Victim Gender,Victim Race,Victim Image URL,Date,Street Address of Incident,City,State,Zipcode,...,Fatal Encounters ID,Encounter Type,Reason for Encounter,Officer Name,Officer Race,Past Shootings by Officer,Call for Service,Encounter Type (details),Reason for Encounter (details),Number of Officers Involved
0,Joseph Lee Humbles keren,29.000000,Male,Unknown,NaN,6/30/2021,710 Peachtree St. NE,Atlanta,GA,30308,...,20708.109019,Violent Crime,Shooting,"Khuong Thai, Joshua Lovreta",Unknown,Nan,Yes,NaN,NaN,2.0
1,John Hayden Inabinet,51.000000,Male,Unknown,NaN,6/30/2021,Burke Road,St. Matthews,SC,NaN,...,20708.109019,Violent Crime,Shooting,NaN,Unknown,Nan,Yes,NaN,NaN,NaN
2,Larry Hunt,58.000000,Male,Unknown,NaN,6/29/2021,NaN,Bayard,NE,NaN,...,20708.109019,Other Non-Violent Offense,Warrant,NaN,Unknown,Nan,No,NaN,Drugs,NaN
3,Philip Sanders,32.000000,Male,Unknown,NaN,6/29/2021,9500 Blue Jay St.,Corpus Christi,TX,78418,...,20708.109019,Other Non-Violent Offense,Vehicle Theft,NaN,Unknown,Nan,Yes,NaN,NaN,NaN
4,Name withheld by police,36.811464,Male,Unknown,NaN,6/28/2021,County Road A-12,NaN,CA,78418,...,20708.109019,Other Non-Violent Offense,Refusing Evacuation Order,NaN,Unknown,Nan,No,NaN,Trespassing,NaN