# Dimas Arya Nugraha #

# 2109106019 #

# Posttest 2 Kecerdasan Buatan #

## Mengimport Library pandas dan numpy ##

In [130]:
## Library ##

In [131]:
import pandas as pd
import numpy as np

## Mengimport File CSV ##

In [132]:
df = pd.read_csv("Anime.csv")

### Menginput Data ke dalam Dictionary ###

In [133]:
Data = {
    'total_records' : [],
    'object_attributes' : 0,
    'number_attributes': 0,
    'null_attributes': 0,
    'attributes' : 0,
}

Data['total_records'] = df.shape[0]
Data['object_attributes'] = list(df.select_dtypes(['object']).columns)
Data['number_attributes'] = list(df.select_dtypes(['float64', 'int64']).columns)
Data['null_attributes'] = list(df.loc[:, df.isnull().any()].columns)
Data['attributes'] = list(df.columns.values)

## Mencetak Hasil Data Yang telah dimasukan ke Dictionary ##

### Mencari total Record dari Dataset ###

In [134]:
print("Total Record = ", Data['total_records'])

Total Record =  17562

## Mencari Data semua Atribut ##

#### Total Atribut ###

In [135]:
print("Total Atribut =",len(Data['attributes']))

Total Atribut = 35

#### Nama-nama Atribut ####

In [149]:
print ("Nama-nama Attribute :", Data['attributes'])

Nama-nama Attribute : ['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name', 'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity', 'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped', 'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6', 'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1']

#### Total Atribut bertipe Object ####

In [136]:
print("Total Atribut tipe Objek :", len(Data['object_attributes']))

Total Atribut tipe Objek : 26

#### Total Atribut bertipe angka ###

In [137]:
print("Total Atribut tipe Angka :", len(Data['number_attributes']))

Total Atribut tipe Angka : 9

#### Total Atribut Null ####

In [138]:
print("Total Atribut Null :", len(Data['null_attributes']))

Total Atribut Null : 0

## Menampilan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka ##

In [139]:
df.describe()

,MAL_ID,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
count,"17,562.000","17,562.000","17,562.000","17,562.000","17,562.000","17,562.000","17,562.000","17,562.000","17,562.000"
mean,"21,477.192","8,763.452","34,658.540",457.746,"2,231.488","22,095.571",955.050,"1,176.600","8,199.831"
std,"14,900.093","5,059.327","125,282.141","4,063.473","14,046.688","91,009.189","4,275.675","4,740.349","23,777.692"
min,1.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,1.000
25%,"5,953.500","4,383.500",336.000,0.000,13.000,111.000,6.000,37.000,112.000
50%,"22,820.000","8,762.500","2,065.000",3.000,73.000,817.500,45.000,77.000,752.500
75%,"35,624.750","13,145.000","13,223.250",31.000,522.000,"6,478.000",291.750,271.000,"4,135.500"
max,"48,492.000","17,565.000","2,589,552.000","183,914.000","887,333.000","2,182,587.000","187,919.000","174,710.000","425,531.000"

## Menampilan nilai Korelasi Atribut bertipe Angka ##

In [140]:
df.corr()

,MAL_ID,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
MAL_ID,1.000,0.356,-0.049,-0.042,0.023,-0.056,-0.069,-0.032,-0.039
Popularity,0.356,1.000,-0.419,-0.186,-0.245,-0.374,-0.338,-0.364,-0.497
Members,-0.049,-0.419,1.000,0.779,0.617,0.977,0.794,0.759,0.872
Favorites,-0.042,-0.186,0.779,1.000,0.607,0.749,0.739,0.588,0.626
Watching,0.023,-0.245,0.617,0.607,1.000,0.478,0.737,0.658,0.569
Completed,-0.056,-0.374,0.977,0.749,0.478,1.000,0.686,0.670,0.780
On-Hold,-0.069,-0.338,0.794,0.739,0.737,0.686,1.000,0.896,0.764
Dropped,-0.032,-0.364,0.759,0.588,0.658,0.670,0.896,1.000,0.684
Plan to Watch,-0.039,-0.497,0.872,0.626,0.569,0.780,0.764,0.684,1.000

## Mengubah salah satu atribut bertipe angka menjadi desimal (3 angka dibelakang koma) ##

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

### Saya akan mengubah Atribut "Popularity" ###

In [142]:
df['Popularity'] = df['Popularity'].astype('int64')
pd.options.display.float_format = "{:,.3f}".format

In [143]:
df.head(5)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,1-Sep-01,Unknown,...,30043,49201,49505,22632,5805,1877,577,221,109,379
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229,75651,86142,49432,15376,5838,1965,664,316,533
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182,4806,10128,11618,5709,2920,1083,353,164,131
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312,529,1242,1713,1068,634,265,83,50,27

## Menampilkan 10 record pertama dari attribute bertipe angka ##

In [144]:
DataAngka = df.select_dtypes(include=np.number)

In [145]:
DataAngka.head(10)

,MAL_ID,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
0,1,39,1251960,61971,105808,718161,71513,26678,329800
1,5,518,273145,1174,4143,208333,1935,770,57964
2,6,201,558913,12944,29113,343492,25465,13925,146918
3,7,1467,94683,587,4300,46165,5121,5378,33719
4,8,4369,13224,18,642,7314,766,1108,3394
5,15,1003,148259,2066,13907,78349,14228,11573,30202
6,16,687,214499,4101,11909,81145,11901,11026,98518
7,17,3612,20470,231,817,13778,828,1168,3879
8,18,1233,117929,979,6082,90967,3053,1356,16471
9,19,169,614100,29436,64648,214491,47488,23008,264465

## Menyimpan Dataset dengan Atribut bertipe angka kedalam file CSV. ##

In [150]:
df[['MAL_ID', 'Popularity', 'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped', 'Plan to Watch']].to_csv("Atribut_Angka_DatasetAnime.csv")