# Dimas Arya Nugraha
# 2109106019
# Informatika A 21
# Posttest 8 Kecerdasan Buatan

## Import ibrary

In [273]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras import datasets
import tensorflow_datasets as tfds
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

## Import Dataset

In [236]:
data= pd.read_csv('gender_classification_v7.csv')

# Lihat Data Dataset

In [237]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

# Model Sequential

In [268]:
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(1, input_shape=[1])
    ]
)

In [269]:
x = data[['lips_thin']]
y = data[['forehead_width_cm']]

In [270]:
model.compile(optimizer='SGD', loss='mse')

In [272]:
model.fit(x , y, verbose=2, epochs=50)

Epoch 1/50
157/157 - 0s - loss: 1.1444 - 179ms/epoch - 1ms/step
Epoch 2/50
157/157 - 0s - loss: 1.1442 - 173ms/epoch - 1ms/step
Epoch 3/50
157/157 - 0s - loss: 1.1447 - 178ms/epoch - 1ms/step
Epoch 4/50
157/157 - 0s - loss: 1.1446 - 185ms/epoch - 1ms/step
Epoch 5/50
157/157 - 0s - loss: 1.1444 - 181ms/epoch - 1ms/step
Epoch 6/50
157/157 - 0s - loss: 1.1444 - 170ms/epoch - 1ms/step
Epoch 7/50
157/157 - 0s - loss: 1.1445 - 168ms/epoch - 1ms/step
Epoch 8/50
157/157 - 0s - loss: 1.1446 - 175ms/epoch - 1ms/step
Epoch 9/50
157/157 - 0s - loss: 1.1445 - 190ms/epoch - 1ms/step
Epoch 10/50
157/157 - 0s - loss: 1.1445 - 173ms/epoch - 1ms/step
Epoch 11/50
157/157 - 0s - loss: 1.1444 - 173ms/epoch - 1ms/step
Epoch 12/50
157/157 - 0s - loss: 1.1445 - 181ms/epoch - 1ms/step
Epoch 13/50
157/157 - 0s - loss: 1.1444 - 176ms/epoch - 1ms/step
Epoch 14/50
157/157 - 0s - loss: 1.1442 - 182ms/epoch - 1ms/step
Epoch 15/50
157/157 - 0s - loss: 1.1447 - 190ms/epoch - 1ms/step
Epoch 16/50
157/157 - 0s - loss: 1.1436 - 172ms/epoch - 1ms/step
Epoch 17/50
157/157 - 0s - loss: 1.1443 - 172ms/epoch - 1ms/step
Epoch 18/50
157/157 - 0s - loss: 1.1445 - 168ms/epoch - 1ms/step
Epoch 19/50
157/157 - 0s - loss: 1.1443 - 175ms/epoch - 1ms/step
Epoch 20/50
157/157 - 0s - loss: 1.1445 - 173ms/epoch - 1ms/step
Epoch 21/50
157/157 - 0s - loss: 1.1444 - 194ms/epoch - 1ms/step
Epoch 22/50
157/157 - 0s - loss: 1.1445 - 178ms/epoch - 1ms/step
Epoch 23/50
157/157 - 0s - loss: 1.1444 - 178ms/epoch - 1ms/step
Epoch 24/50
157/157 - 0s - loss: 1.1446 - 183ms/epoch - 1ms/step
Epoch 25/50
157/157 - 0s - loss: 1.1442 - 186ms/epoch - 1ms/step
Epoch 26/50
157/157 - 0s - loss: 1.1448 - 184ms/epoch - 1ms/step
Epoch 27/50
157/157 - 0s - loss: 1.1446 - 171ms/epoch - 1ms/step
Epoch 28/50
157/157 - 0s - loss: 1.1444 - 175ms/epoch - 1ms/step
Epoch 29/50
157/157 - 0s - loss: 1.1441 - 180ms/epoch - 1ms/step
Epoch 30/50
157/157 - 0s - loss: 1.1436 - 171ms/epoch - 1ms/step
Epoch 31/50
157/157 - 0s - loss: 1.1447 - 177ms/epoch - 1ms/step
Epoch 32/50
157/157 - 0s - loss: 1.1446 - 177ms/epoch - 1ms/step
Epoch 33/50
157/157 - 0s - loss: 1.1437 - 167ms/epoch - 1ms/step
Epoch 34/50
157/157 - 0s - loss: 1.1445 - 179ms/epoch - 1ms/step
Epoch 35/50
157/157 - 0s - loss: 1.1444 - 175ms/epoch - 1ms/step
Epoch 36/50
157/157 - 0s - loss: 1.1439 - 177ms/epoch - 1ms/step
Epoch 37/50
157/157 - 0s - loss: 1.1445 - 183ms/epoch - 1ms/step
Epoch 38/50
157/157 - 0s - loss: 1.1444 - 190ms/epoch - 1ms/step
Epoch 39/50
157/157 - 0s - loss: 1.1446 - 174ms/epoch - 1ms/step
Epoch 40/50
157/157 - 0s - loss: 1.1441 - 173ms/epoch - 1ms/step
Epoch 41/50
157/157 - 0s - loss: 1.1444 - 169ms/epoch - 1ms/step
Epoch 42/50
157/157 - 0s - loss: 1.1442 - 176ms/epoch - 1ms/step
Epoch 43/50
157/157 - 0s - loss: 1.1446 - 180ms/epoch - 1ms/step
Epoch 44/50
157/157 - 0s - loss: 1.1441 - 175ms/epoch - 1ms/step
Epoch 45/50
157/157 - 0s - loss: 1.1444 - 174ms/epoch - 1ms/step
Epoch 46/50
157/157 - 0s - loss: 1.1448 - 176ms/epoch - 1ms/step
Epoch 47/50
157/157 - 0s - loss: 1.1445 - 178ms/epoch - 1ms/step
Epoch 48/50
157/157 - 0s - loss: 1.1439 - 177ms/epoch - 1ms/step
Epoch 49/50
157/157 - 0s - loss: 1.1443 - 180ms/epoch - 1ms/step
Epoch 50/50
157/157 - 0s - loss: 1.1446 - 168ms/epoch - 1ms/step