# Nama : Dimas Arya Nugraha

# Nim : 2109106019

# POSTTEST 5 Supervised Learning

#

## Import Library

In [49]:
import pandas as pd
import seaborn as sns

## Import Dataset

In [50]:
df = pd.read_csv("gender_classification_v7.csv")
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

### Melihat Tipe Data Atribut

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

#

# Standarisasi Dataset dan Encode

In [52]:
from sklearn.preprocessing import MinMaxScaler,OrdinalEncoder

std = MinMaxScaler(feature_range=(0,1))
df[["forehead_width_cm", "forehead_height_cm"]] = std.fit_transform(df[["forehead_width_cm", "forehead_height_cm"]])

enc = OrdinalEncoder()
df[["gender"]] = enc.fit_transform(df[["gender"]])

In [53]:
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,0.097561,0.50,1,0,1,1,1.0
1,0,0.634146,0.15,0,0,1,0,0.0
2,0,0.097561,0.60,1,1,1,1,1.0
3,0,0.731707,0.50,0,1,1,1,1.0
4,1,0.512195,0.40,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...
4996,1,0.536585,0.00,0,0,0,0,0.0
4997,1,0.121951,0.15,0,0,0,0,0.0
4998,1,0.365854,0.30,0,0,0,0,0.0
4999,1,0.439024,0.55,0,0,0,0,0.0
5000,1,0.975610,0.15,1,1,1,1,1.0

#

# Data Splitting

In [54]:
from sklearn.model_selection import train_test_split

x = df.drop('gender',axis=1)
y = df["gender"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

#

# Classification

## K-Nearest Neighbours

In [55]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=9).fit(x_train, y_train)
predict_knn = knn.predict(x_test)
print("Akurasi dari K-NN :", accuracy_score(y_test, predict_knn)*100, "%")

Akurasi dari K-NN : 96.86875416389074 %

###

## Naive Bayes

In [56]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB().fit(x_train, y_train)
pred_nb = nb.predict(x_test)
print("akurasi dari Naive Bayes  : ", accuracy_score(y_test, pred_nb)*100,"%")

akurasi dari Naive Bayes  :  97.06862091938707 %

###

## Decision Tree

In [57]:
from sklearn.tree import DecisionTreeClassifier

model_tree=DecisionTreeClassifier().fit(x_train,y_train)
predict_tree=model_tree.predict(x_test)
print("Akurasi dari Decision Tree: ",accuracy_score(predict_tree,y_test)*100,"%")

Akurasi dari Decision Tree:  96.53564290473018 %

####

# Perbandingan Antara 3 Algoritma (KNN, Naive Bayes dan Decision Tree)

In [58]:
print("Akurasi dari K-NN           :", accuracy_score(y_test, predict_knn)*100, "%")
print("akurasi dari Naive Bayes    : ", accuracy_score(y_test, pred_nb)*100,"%")
print("Akurasi dari Decision Tree  : ",accuracy_score(predict_tree,y_test)*100,"%")

Akurasi dari K-NN           : 96.86875416389074 %
akurasi dari Naive Bayes    :  97.06862091938707 %
Akurasi dari Decision Tree  :  96.53564290473018 %

#### Sehingga didapatkan kesimpulan ketiga algoritma dapat menghasilkan akurasi skor diatas 95% dengan perbedaan yang sangat tipis